.header h1{
    text-align: center;
    font-family: 'Comfortaa';
    margin-bottom: 0px;
    padding-bottom: 35px;
}

.header{
    margin-bottom: 0px;
    padding-bottom: 35px;
    padding-top: 6rem;
}

.successHeader {
    text-align: center;
    font-family: 'Comfortaa';
    font-size: 30px;
    margin-bottom: 0px;
    padding-bottom: 15px;
    padding-top: 1rem;
}

.subHeader {
    text-align: center;
    font-family: 'Comfortaa';
}

@media screen and (max-width: 770px) {
    .formContainer {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media screen and (min-width: 771px) {
    .formContainer {
        padding-left: 30%;
        padding-right: 30%;
    }
}
div.MuiGrid-root {
    padding-bottom:20px;
}

svg.MuiSvgIcon-root.checkIcon {
    font-size: 10rem;
    display: block;
    margin: auto;
    color: #228B22;
}

.buttonContainer {
    text-align: center;
    padding-bottom: 40px;
}

div.MuiSelect-select {
    min-width: 120px;
}

label.MuiFormLabel-root {
    padding-bottom: 5px
}

.appSection {
    padding-bottom: 40px;
}

.appSectionHeader {
    padding-bottom: 10px;
    font-family: 'Comfortaa';
    font-size: 25px;
}

.textAreaHeader {
    padding-bottom: 10px;
}