@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Montserrat&display=swap');

.vertical-offset {
    padding-top: 40px;
}

.aboutHeader h1{
    text-align: center;
    font-family: 'Comfortaa';
    margin-bottom: 0px;
    padding-bottom: 20px;
}

.aboutHeader p{
    text-align: center;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 0px;
}

.videoContainer { 
    margin: 0 auto;
}

.video {
    margin-left: auto;
    margin-right: auto;
    display: block
}

.gridContainer {
    padding-left: 10%;
    padding-right: 10%;
}

div.MuiCardHeader-content {
    font-family: 'Montserrat', sans-serif;
}

div.MuiChip-root.Hybrid {
    background-color: #a5cfa3;
}

div.MuiChip-root.Sativa {
    background-color: #88b6f2;
}

div.MuiChip-root.Indica {
    background-color: #f5ae67
}