@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Montserrat&display=swap');

.aboutHeader h1{
    text-align: center;
    font-family: 'Comfortaa';
    margin-bottom: 0px;
}

.aboutHeader p{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 0px;
}

.videoContainer { 
    margin: 0 auto;
}

.video {
    max-width: calc(177.778vh);
    height: calc(56.25vw);
    margin-left: auto;
    margin-right: auto;
    display: block
}

div.MuiGrid-container {
    padding-left: 40px;
    padding-right: 20px;
}

div.MuiCard-root {
    width: 300px;
    height: 600px;
}

div.MuiCardHeader-content {
    font-family: 'Montserrat', sans-serif;
}

div.MuiCardMedia-root {
    height:225px;
}

span.MuiChip-label {
    font-family: 'Comfortaa';
    font-weight: bold;
}
div.MuiChip-root {
    padding:0px;
    margin-top: 16px;
    width: 40%;
}

div.MuiChip-root.Hybrid {
    background-color: #a5cfa3;
}

div.MuiChip-root.Sativa {
    background-color: #88b6f2;
}

div.MuiChip-root.Indica {
    background-color: #f5ae67
}