.header h1{
    text-align: center;
    font-family: 'Comfortaa';
    margin-bottom: 0px;
    padding-bottom: 35px;
}

.header{
    margin-bottom: 0px;
    padding-bottom: 35px;
    padding-top: 6rem;
}